.git
.gitignore
*.md
.env*
*.log
.DS_Store
build
dist
node_modules

# dotenv environment variable files
.env
.env.local*
.env.development*
.env.test*
.env.production*

packages/*/build
packages/*/dist
packages/*/node_modules
