/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind directives */
@tailwind base;
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind directives */
@tailwind components;
/* biome-ignore lint/suspicious/noUnknownAtRules: Tailwind directives */
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #1f2937;
}
