name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:
    inputs:
      tag:
        required: false
        type: string

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install addlicense
        if: runner.os == 'Linux'
        run: |
          go install github.com/google/addlicense@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Build core package
        run: pnpm core build:prod

      - name: Build cli package
        run: pnpm cli build:prod

      - name: Run check
        if: runner.os == 'Linux'
        run: pnpm check:ci

      - name: Run tests
        run: pnpm test:cov

      - name: Upload results to Codecov
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 22
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Build resume
        run: |
          node packages/cli/dist/cli.js -V
          node packages/cli/dist/cli.js new
          node packages/cli/dist/cli.js build --no-pdf resume.yml

      - name: Smoke test LaTeX build
        if: runner.os == 'Linux'
        run: |
          docker run --rm -v $(pwd):/tmp -w /tmp yamlresume/yamlresume-base:v1.0.0 xelatex resume.tex

      - name: Check files
        if: always()
        run: |
          ls -lah

      - name: Upload PDF file
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 22
        uses: actions/upload-artifact@v4
        with:
          name: yamlresume-sample
          path: |
            resume.yml
            resume.tex
            resume.pdf
